// COLORS
$main: #2965f1;
$white: #ebebeb;
$grey: #242424;
$light-grey: #444444;

// FONTS
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

$font-family-sans: 'Roboto', sans-serif;
$font-unit: 1rem;
