// COLORS
$main: #2965f1;
$white: #ebebeb;
$grey: #242424;
$light-grey: #444444;
$yellow: #fcc201;

$hover-main: #264de4;
$hover-white: #8e8e8e;

// FONTS
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

$font-family-sans: 'Roboto', sans-serif;
$font-unit: 1rem;

// TIME
$duration: 0.4s;
